# numpy
# pandas
# Flask
# scikit-learn
# https://download.pytorch.org/whl/cpu/torch-1.7.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
# https://download.pytorch.org/whl/cpu/torchvision-0.8.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
# requests
# Pillow
# gunicorn == 20.0.4


numpy==1.19.2
pandas==1.1.5
Flask==2.0.1
scikit-learn==0.24.2
torch==1.7.0+cpu
torchvision==0.8.1+cpu
requests==2.26.0
Pillow==8.3.2
gunicorn==20.0.4

